* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, #ffffff 50%, #e1ebff 50%);
  height: 100vh;
  font-family: system-ui;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
section .container {
  width: 410px;
  height: 600px;
  background-color: red;
  padding: 10px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

form .textview {
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 75px;
  padding: 5px;
  margin: 0 0 15px 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: 25px;
  color: #568eff;
}

form .textview:focus {
  outline: none;
}

.button {
  width: 83px;
  height: 83px;
  margin: 5px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-size: 30px;
  color: #5f95ff;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  background: rgb(255 255 255);
}

@media (max-width: 767px) {
  section .container {
    margin: 5px;
    width: 100%;
    height: 550px;
  }
  .button {
    width: calc(100% / 5);
    max-height: 72px;
  }
}

.test {
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -200px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-size: 30px;
  color: #0056ff;
  margin: 0 -20px 0;
  font-size: 30px;
  padding: 10px;
}
